body {

}
* {
  margin: 0;
  padding: 0;
}
*,
::after,
::before {
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.paddingSections {
  padding-top: 100px;
  padding-bottom: 100px;
}
.showItems {
  position: relative;
  z-index: 999;
}
.d-flex {
  display: flex;
}
.d-inline-block {
  display: inline-block;
}
.d-block {
  display: block;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute !important;
}
.top-0 {
  top: 0 !important;
}
.grow-1 {
  flex-grow: 1;
}
.align-items-center {
  align-items: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-center {
  text-align: center;
}
.upperCaseFirstLtr {
  text-transform: capitalize;
}
.w-100 {
  width: 100%;
}
.bg-cover {
  background-size: cover;
}
.bg-center {
  background-position: center;
}
.overlay-product-about {

  position: relative;
  &::before {
    @include before();
    background: #ffbf00;
    opacity: 0.08;
    filter: blur(188.6px);
    width: 30%;
    height: 50%;
  }
  &::after {
    @include after();
    width: 40%;
    height: 50%;
    background: #ffbf00;
    opacity: 0.15;
    filter: blur(188.6px);

    top: 50%;
  }
  &--pesdu{
    position: absolute;
    bottom: -20%;
    width: 40%;
    background: #A0AC4F;
    opacity: 0.2;
    filter: blur(188.6px);
    height: 30%;
  }

 /*

 */
}
.top-1{
  top: 1px;
}

%pagination{
  position: static;
  display: flex;
  justify-content: center;
  width: 120px;
  margin: auto;
  margin-bottom: 25px;

  justify-content: space-between;
  .swiper-button-prev,.swiper-button-next,.glide__arrow--prev,.glide__arrow--next{
      position: relative;
      margin: 0;
      width: 48px;
      height: 48px;
      background-color: $black;
      border-radius: 50%;
      &::after{
        content: "";
        width: 25px;
        height: 25px;
        background-size: cover;
        display: block;
        left: 0;
        right: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
      }

  }
  .swiper-button-next,.glide__arrow--next{
      &::after{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.9696 4.71966C12.829 4.86034 12.75 5.05109 12.75 5.24998C12.75 5.44888 12.829 5.63963 12.9696 5.7803L18.4394 11.25L3.75 11.25C3.55109 11.25 3.36032 11.329 3.21967 11.4697C3.07902 11.6103 3 11.8011 3 12C3 12.1989 3.07902 12.3897 3.21967 12.5303C3.36032 12.671 3.55109 12.75 3.75 12.75L18.4394 12.75L12.9696 18.2197C12.9 18.2893 12.8447 18.372 12.8071 18.463C12.7694 18.554 12.75 18.6515 12.75 18.75C12.75 18.8485 12.7694 18.946 12.8071 19.037C12.8448 19.128 12.9 19.2107 12.9697 19.2803C13.0393 19.35 13.122 19.4052 13.213 19.4429C13.304 19.4806 13.4015 19.5 13.5 19.5C13.5985 19.5 13.6961 19.4806 13.787 19.4429C13.878 19.4052 13.9607 19.3499 14.0304 19.2803L20.7804 12.5303C20.7828 12.5279 20.7848 12.5252 20.7872 12.5227C20.802 12.5075 20.8164 12.4919 20.8299 12.4755C20.8374 12.4664 20.844 12.4566 20.851 12.4472C20.8586 12.4371 20.8665 12.4271 20.8736 12.4165C20.8809 12.4056 20.8873 12.3943 20.8939 12.383C20.8998 12.3732 20.9059 12.3637 20.9114 12.3536C20.9174 12.3423 20.9225 12.3307 20.9279 12.3192C20.933 12.3085 20.9383 12.2979 20.9429 12.287C20.9475 12.2759 20.9512 12.2646 20.9552 12.2533C20.9594 12.2415 20.964 12.2298 20.9676 12.2177C20.971 12.2065 20.9735 12.1951 20.9764 12.1837C20.9795 12.1714 20.983 12.1591 20.9855 12.1465C20.9881 12.1334 20.9896 12.1202 20.9915 12.1071C20.9931 12.096 20.9952 12.0852 20.9963 12.074C20.9987 12.0494 21 12.0247 21 12C21 11.9753 20.9987 11.9506 20.9963 11.926C20.9952 11.9148 20.9931 11.9039 20.9915 11.8929C20.9896 11.8797 20.9881 11.8665 20.9855 11.8535C20.983 11.8409 20.9795 11.8286 20.9764 11.8162C20.9735 11.8049 20.971 11.7935 20.9676 11.7823C20.964 11.7702 20.9594 11.7585 20.9552 11.7467C20.9512 11.7354 20.9475 11.724 20.9429 11.713C20.9383 11.702 20.933 11.6915 20.9279 11.6808C20.9225 11.6693 20.9174 11.6577 20.9114 11.6464C20.9059 11.6363 20.8998 11.6267 20.8939 11.6169C20.8873 11.6057 20.8809 11.5944 20.8736 11.5835C20.8665 11.5729 20.8586 11.5629 20.851 11.5527C20.844 11.5433 20.8374 11.5336 20.8299 11.5245C20.8162 11.5077 20.8016 11.4919 20.7865 11.4764C20.7843 11.4742 20.7825 11.4718 20.7804 11.4697L14.0304 4.71966C13.9607 4.65001 13.878 4.59476 13.787 4.55707C13.696 4.51937 13.5985 4.49997 13.5 4.49997C13.4015 4.49997 13.304 4.51937 13.213 4.55707C13.122 4.59476 13.0393 4.65001 12.9696 4.71966Z' fill='white'/%3E%3C/svg%3E%0A");

      }
  }
  .swiper-button-prev,.glide__arrow--prev{
      &::after{
          background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0304 4.71966C11.171 4.86034 11.25 5.05109 11.25 5.24998C11.25 5.44888 11.171 5.63963 11.0304 5.7803L5.56064 11.25L20.25 11.25C20.4489 11.25 20.6397 11.329 20.7803 11.4697C20.921 11.6103 21 11.8011 21 12C21 12.1989 20.921 12.3897 20.7803 12.5303C20.6397 12.671 20.4489 12.75 20.25 12.75L5.56064 12.75L11.0304 18.2197C11.1 18.2893 11.1553 18.372 11.1929 18.463C11.2306 18.554 11.25 18.6515 11.25 18.75C11.25 18.8485 11.2306 18.946 11.1929 19.037C11.1552 19.128 11.1 19.2107 11.0303 19.2803C10.9607 19.35 10.878 19.4052 10.787 19.4429C10.696 19.4806 10.5985 19.5 10.5 19.5C10.4015 19.5 10.3039 19.4806 10.213 19.4429C10.122 19.4052 10.0393 19.3499 9.96964 19.2803L3.21964 12.5303C3.21719 12.5279 3.21517 12.5252 3.21277 12.5227C3.19796 12.5075 3.18359 12.4919 3.17011 12.4755C3.16258 12.4664 3.15601 12.4566 3.14898 12.4472C3.14138 12.4371 3.13349 12.4271 3.12639 12.4165C3.11909 12.4056 3.11275 12.3943 3.10606 12.383C3.10022 12.3732 3.09407 12.3637 3.08864 12.3536C3.08262 12.3423 3.0775 12.3307 3.07207 12.3192C3.06701 12.3085 3.06168 12.2979 3.05713 12.287C3.05255 12.2759 3.04884 12.2646 3.04481 12.2533C3.04056 12.2415 3.03602 12.2298 3.03236 12.2177C3.02897 12.2065 3.02648 12.1951 3.02362 12.1837C3.02051 12.1714 3.01703 12.1591 3.01453 12.1465C3.01195 12.1334 3.01039 12.1202 3.00851 12.1071C3.00693 12.096 3.00483 12.0852 3.00373 12.074C3.00131 12.0494 3 12.0247 3 12C3 11.9753 3.00131 11.9506 3.00373 11.926C3.00483 11.9148 3.00694 11.9039 3.00851 11.8929C3.01039 11.8797 3.01195 11.8665 3.01453 11.8535C3.01703 11.8409 3.02051 11.8286 3.02362 11.8162C3.02648 11.8049 3.02897 11.7935 3.03236 11.7823C3.03602 11.7702 3.04056 11.7585 3.04481 11.7467C3.04884 11.7354 3.05255 11.724 3.05713 11.713C3.06168 11.702 3.06701 11.6915 3.07207 11.6808C3.0775 11.6693 3.08262 11.6577 3.08864 11.6464C3.09407 11.6363 3.10022 11.6267 3.10606 11.6169C3.11275 11.6057 3.11909 11.5944 3.12639 11.5835C3.13348 11.5729 3.14138 11.5629 3.14898 11.5527C3.15601 11.5433 3.16257 11.5336 3.17011 11.5245C3.18382 11.5077 3.19844 11.4919 3.21355 11.4764C3.21568 11.4742 3.21746 11.4718 3.21964 11.4697L9.96964 4.71966C10.0393 4.65001 10.122 4.59476 10.213 4.55707C10.304 4.51937 10.4015 4.49997 10.5 4.49997C10.5985 4.49997 10.696 4.51937 10.787 4.55707C10.878 4.59476 10.9607 4.65001 11.0304 4.71966Z' fill='white'/%3E%3C/svg%3E%0A");
      }
  }
}
.no-m-p{
  @include max(1199){
   margin-top: 50px !important;
   padding-top: 0 !important;
   padding-bottom: 0 !important;
  }
}
/*helpers for sections*/
body[data-aos-duration='5000'] [data-aos],
[data-aos][data-aos][data-aos-duration='5000'] {
  transition-duration: 5000ms;
}