$grey:#727272;
$red:#ED1A37;
$yellow:#FFBF00;
$green-700:#A0AC4F;
$black:#11141B;
$drk-black:#0C1016;
$drk-black-1:#07080A;
$scondryBlack:#181B22;
.black{
    color: $black;
}
.green-700{
    color: $green-700;
}

.yellow{
    color: $yellow;
}
.red-37{
    color: $red;
}
.grey-72{
    color:$grey;
}

















