.hamburgMenu{
    transition: .5s;
}
body.showmenu{
    .hamburgMenu{
        transform: rotate(180deg);
        span{
            &:nth-child(1){
                transform: rotate(45deg) translateX(-5px) translateY(4px);
                animation-fill-mode: both;
                animation-duration: .5s;
                animation-timing-function: ease-in-out;
                animation-name: fadeInMenu;
                
                
            }
            &:nth-child(2){
                opacity: 0;
                margin: 0;
            }
            &:nth-child(3){
                transform: rotate(-45deg) translateX(0) translateY(-8px);
                animation-fill-mode: both;
                animation-duration: .5s;
                animation-timing-function: ease-in-out;
                animation-name: fadeInMenu;
               
            }
        }
    }
    .hero__nav ul.hero__nav__list{
        transition: height .15s ease-in;
     max-height: 1000px;
     padding: 10px 20px;

    }
}



@keyframes fadeInMenu {
    0% {
        opacity: 0
    }

    10% {
        opacity: .01
    }

    20% {
        opacity: .02
    }

    30% {
        opacity: .05
    }

    40% {
        opacity: .06
    }

    50% {
        opacity: .2
    }

    60% {
        opacity: .4
    }

    70% {
        opacity: .6
    }

    80% {
        opacity: .8
    }

    90% {
        opacity: .85
    }

    100% {
        opacity: 1
    }
}