.industries{
   
    padding-top: 100px;
    .container{
        @include max(993){
            max-width: 90% !important;
        }
    }
    &__cards{
        overflow: hidden;
        &--card{
          svg{
            
          }
            .clipped{
              
                padding-top: 50px;
                height: 270px;
                background: turquoise url(https://source.unsplash.com/600x600?summer);
                background-size: cover;
                -webkit-clip-path: url(#my-clip-path);
                clip-path: url(#my-clip-path);
                color: #fff;
                @include max(992){
                  // max-width: 70%;
                   margin: auto;
                   margin-bottom: 25px;
                }
                @include max(768){
                    max-width: 100%;
                    height: 280px;
               
                 }
                h2{
                    line-height: 1.1;
                    @include between(768,993){
                        font-size: 18px;
                    }
                    @include max(767){
                        font-size: 22px;
                    }
                    
                }
                p{
                    @include max(1300){
                        font-size: 16px;
                    }
                    @include between(768,993){
                        font-size: 14px;
                    }
                    @include max(500){
                        font-size: 15px;
                    }
                   
                }
             
                .icon{
                    min-width: 48px;
                    height: 48px;
                    background-color: #fff;
                    border-radius: 12px;
                    margin-right: 20px;
                    background-size: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    @include between(320,993){
                        margin-right: 15px;
                    }
                    

                }
                &.red{
                    background-color: $red;
                    .icon{
                        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24265_1689)'%3E%3Cpath d='M2.89335 19.6746V11.1233C2.61767 11.1233 2.35802 11.1286 2.0973 11.1233C1.07153 11.0987 0.444306 10.3817 0.33318 9.35916C0.163286 7.80233 0.749902 6.87699 2.18065 6.16536C5.36483 4.58181 8.46675 2.83264 11.589 1.12729C12.0965 0.850543 12.5143 0.827035 13.0304 1.10806C16.3887 2.93843 19.7567 4.75064 23.1322 6.55002C23.9432 6.98277 24.361 7.59503 24.299 8.52251C24.2808 8.78857 24.299 9.05677 24.2958 9.3239C24.2787 10.4159 23.5767 11.1094 22.474 11.1244C22.2464 11.1276 22.0188 11.1244 21.7613 11.1244V19.6757C22.0081 19.6757 22.2656 19.6714 22.5231 19.6757C23.5606 19.696 24.2712 20.3905 24.2926 21.4174C24.3043 21.9517 24.3011 22.4859 24.2936 23.0202C24.2776 24.1058 23.5681 24.8046 22.4633 24.8089C20.291 24.8153 18.1176 24.811 15.9453 24.811C11.4223 24.811 6.89816 24.811 2.37512 24.811C0.991388 24.811 0.351345 24.1699 0.350277 22.7862C0.350277 22.3406 0.343866 21.895 0.351345 21.4505C0.36951 20.3916 1.07687 19.6939 2.14325 19.6768C2.37405 19.6725 2.60485 19.6768 2.89335 19.6768V19.6746ZM2.10906 9.37519H22.5274C22.7411 8.56739 22.4943 8.11647 21.7356 7.72539C18.7181 6.1707 15.7434 4.53266 12.7622 2.91065C12.4448 2.73755 12.2066 2.73862 11.8892 2.91065C8.90698 4.53266 5.93115 6.16963 2.91472 7.72432C2.18172 8.10258 1.93382 8.54174 2.07807 9.29077C2.08128 9.3068 2.08983 9.32176 2.11013 9.37412L2.10906 9.37519ZM22.5605 21.4281H2.09196V23.0672H22.5605V21.4281ZM7.15354 19.6501V11.1489H4.65748V19.6501H7.15354ZM11.4308 19.6479V11.166H8.93048V19.6479H11.4308ZM13.2099 11.1372V19.6383H15.7017V11.1372H13.2099ZM19.9811 19.649V11.1671H17.4818V19.649H19.9811Z' fill='%23EF1F43'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24265_1689'%3E%3Crect width='24' height='23.9049' fill='white' transform='translate(0.304688 0.907227)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    }
                }
                &.orange{
                    background-color: $yellow;
                    .icon{
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5477 6.28246V10.5873C16.7824 10.9112 17.1697 11.1738 17.6323 11.3725C18.2986 11.661 19.0978 11.8028 19.8306 11.8028C20.6098 11.8028 21.4159 11.5658 22.0621 11.1488C22.5049 10.864 22.6908 10.3592 22.5424 9.85587L21.4998 6.2822H16.5474L16.5477 6.28246ZM2.6648 13.101V22.3441C2.6648 22.9804 3.18713 23.4999 3.81586 23.5002L7.6636 23.4976V18.844C7.6636 16.9185 9.23321 15.3496 11.157 15.3496H12.8371C14.7632 15.3496 16.3328 16.9182 16.3328 18.844V23.4976H20.1782C20.8114 23.4976 21.3316 22.9786 21.3316 22.3441V13.0011C20.8403 13.1396 20.331 13.2144 19.8306 13.2144C18.4889 13.2144 16.8575 12.8211 15.8413 11.8936C14.8915 12.8005 13.4703 13.3174 12.1531 13.3174C10.8138 13.3174 9.1821 12.9244 8.16612 11.9979C7.14779 12.9244 5.51612 13.3174 4.17677 13.3174C3.67217 13.3174 3.15845 13.2413 2.6648 13.101ZM22.7419 12.3854V22.3439C22.7419 23.7573 21.5906 24.9089 20.1782 24.9089L3.81586 24.906C2.39907 24.9055 1.25218 23.7565 1.25218 22.3439L1.2587 12.484C0.734015 12.1588 0.368669 11.7314 0.16057 11.1793C-0.0277101 10.6784 -0.0540484 10.1216 0.100852 9.57658L1.2587 5.5369L1.25218 3.47417C1.25218 2.0652 2.39881 0.914395 3.81351 0.912048L20.178 0.90918C21.5903 0.90918 22.7416 2.0605 22.7416 3.47417V5.52334L23.8951 9.46392C24.2161 10.5628 23.7842 11.7139 22.8235 12.334C22.7969 12.3512 22.7703 12.3682 22.7416 12.3851L22.7419 12.3854ZM21.3316 4.87088V3.47417C21.3316 2.8397 20.8114 2.32076 20.1782 2.32076L3.81377 2.31815C3.18739 2.31919 2.6648 2.83057 2.6648 3.47417V4.87088H21.3316ZM15.1351 10.5717C14.4998 11.4263 13.2246 11.9058 12.1531 11.9058C11.4203 11.9058 10.6234 11.764 9.95478 11.4758C9.49425 11.2771 9.10674 11.0145 8.86995 10.6906V6.28246H15.1351V10.5717ZM7.45994 6.2822V10.6906C7.22316 11.0142 6.83564 11.2768 6.37511 11.4755C5.70648 11.7637 4.90955 11.9056 4.17677 11.9056C3.39758 11.9056 2.58291 11.6664 1.93854 11.2489C1.49809 10.9642 1.31424 10.4661 1.45819 9.96226L2.51198 6.28194L7.45994 6.2822ZM9.07388 23.4973V18.8438C9.07388 17.6974 10.0124 16.7609 11.1572 16.7609H12.8374C13.984 16.7609 14.9205 17.6974 14.9205 18.8438V23.4973H9.07388Z' fill='%23FFBF00'/%3E%3C/svg%3E%0A");
                    }
                }
                &.green{
                    background-color: $green-700;
                    .icon{
                        background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_24265_1720)'%3E%3Cpath d='M0.133592 12.4829C0.133592 10.7511 0.142021 9.01842 0.127973 7.28668C0.124226 6.83805 0.300304 6.56457 0.694607 6.36414C4.30702 4.5303 7.91662 2.69085 11.5187 0.836412C11.9524 0.613505 12.312 0.608822 12.7466 0.832666C16.3478 2.68898 19.9564 4.52937 23.5679 6.36695C23.9631 6.56831 24.1261 6.85023 24.1252 7.29604C24.1139 10.7445 24.113 14.1931 24.1252 17.6416C24.127 18.1248 23.9397 18.4171 23.5173 18.6409C19.8824 20.5684 16.2532 22.5071 12.6276 24.4515C12.2745 24.6407 11.9692 24.636 11.6171 24.4468C8.00466 22.5099 4.39037 20.5778 0.76766 18.6606C0.30967 18.4171 0.118607 18.1052 0.125163 17.5854C0.147641 15.8845 0.133592 14.1837 0.133592 12.4829ZM11.3698 22.5783C11.3698 19.5297 11.3651 16.5654 11.3773 13.6011C11.3782 13.308 11.2022 13.2415 11.0073 13.1422C8.02432 11.6184 5.0413 10.0917 2.05827 8.56792C1.93839 8.50705 1.81289 8.45741 1.63494 8.3778V8.88636C1.63494 11.5697 1.6443 14.2539 1.62464 16.9373C1.62183 17.3091 1.7492 17.4852 2.06202 17.6509C5.01039 19.2094 7.95033 20.7847 10.8931 22.3535C11.0261 22.4247 11.1656 22.4828 11.3698 22.5792V22.5783ZM16.8779 11.3168C16.6934 11.3973 16.566 11.4442 16.4461 11.506C15.3775 12.0511 14.3163 12.6121 13.2392 13.1375C12.9536 13.2771 12.873 13.441 12.8749 13.7454C12.8861 16.5533 12.8815 19.3611 12.8824 22.17C12.8824 22.287 12.8936 22.4041 12.9021 22.5689C13.0322 22.5127 13.1165 22.4828 13.1952 22.4406C16.2335 20.8203 19.269 19.1944 22.3129 17.5844C22.5901 17.4383 22.6219 17.2529 22.621 16.985C22.6145 14.2708 22.6173 11.5556 22.6173 8.84141V8.38435C22.4562 8.45179 22.3428 8.49019 22.237 8.54357C21.071 9.1383 19.9124 9.74615 18.7379 10.3231C18.4523 10.4636 18.3727 10.6331 18.3764 10.9347C18.3914 12.3854 18.3839 13.8362 18.382 15.287C18.382 15.4425 18.3886 15.6036 18.3521 15.7515C18.2546 16.1486 17.9915 16.3819 17.5784 16.3528C17.1729 16.3238 16.9125 16.0821 16.891 15.6626C16.8685 15.227 16.8807 14.7897 16.8807 14.3523C16.8807 13.3595 16.8807 12.3667 16.8807 11.3159L16.8779 11.3168ZM21.6797 7.13776C21.5889 7.07313 21.543 7.03005 21.4896 7.00289C18.4513 5.44722 15.4149 3.88874 12.3682 2.34806C12.2268 2.27688 11.9777 2.31434 11.8231 2.39021C10.6215 2.98307 9.43014 3.5984 8.23693 4.20812C8.13484 4.26057 8.04306 4.33175 7.91381 4.4151C11.0823 6.00262 14.202 7.56765 17.3284 9.12145C17.4548 9.1842 17.6674 9.18232 17.7948 9.11864C19.077 8.47801 20.3498 7.81866 21.6797 7.13682V7.13776ZM15.8879 10.0992C15.6275 9.96531 15.4636 9.87821 15.2988 9.79579C12.4984 8.39372 9.69238 7.00289 6.90417 5.57834C6.4134 5.32734 6.03033 5.288 5.53394 5.57272C4.57769 6.12063 3.57742 6.58986 2.54155 7.11996C5.71377 8.74307 8.81855 10.3334 11.928 11.9143C12.0338 11.9687 12.2137 11.9733 12.3186 11.9209C13.4865 11.3365 14.646 10.7371 15.8888 10.0992H15.8879Z' fill='%23A0AC4F'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_24265_1720'%3E%3Crect width='24' height='23.9241' fill='white' transform='translate(0.125 0.666992)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
                    }
                }
            }
           
          
        }
    }
}